/* ================= HERO SECTION ================= */

.hero-section {
    min-height: 100vh;
    background: url("/assets/img/blog-hero.png") center/cover no-repeat;
    position: relative;
    color: #fff;
}

/* Dark overlay */
.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
}

/* Content */

.hero-content h1 {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-paragraph {
    font-size: 14px;
    line-height: 1.5;
    max-width: 960px;
    opacity: 0.95;
}

.hero-paragraph span {
    display: block;
}


/* Buttons */
.hero-buttons {
    margin-top: 100px;
    display: flex;
    gap: 15px;
}

.btn-primary {
    background: #1cb0f6;
    border: none;
    padding: 12px 26px;
    border-radius: 8px;
    font-size: 14px;
}

.btn-orange {
    background: #ff6b35;
}

.btn-orange:hover {
    background: #ff5722;
    color: #fff;
}

/* ================= ANIMATION ================= */

.animate-hero {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease;
}

.animate-hero.show {
    opacity: 1;
    transform: translateY(0);
}

/* ================= RESPONSIVE ================= */

@media (max-width: 768px) {
    .hero-section {
        text-align: center;
    }

    .hero-content h1 {
        font-size: 34px;
    }

    .hero-content p {
        margin: 0 auto;
        font-size: 12px;
    }

    .hero-buttons {
        justify-content: center;
        flex-wrap: wrap;
    }
}